.clients {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: $background-primary;
  background-image: url("../assets/images/Background-Shapes/top-left.png");
  background-repeat: no-repeat;
  background-size: 100% 50%;
  background-position: top right;
  padding: 150px 0 50px 0;
  .logo {
    padding: 30px 50px;
    padding-bottom: 0;
    img {
      height: 62px;
      width: 62px;
    }
  }
  &__content {
    width: 100%;
    display: block;
    flex-direction: row;
    justify-content: space-around;
    margin: 5px 50px 100px 50px;

    .primary-title {
      text-align: center;
      color: $white;
      margin: 0 0 0 170px;
    }
  }
  @media (max-width: $break-point-mobile) {
    background-image: none;
    justify-content: center;
    .primary-title {
      margin: 20px 0;
    }
    .logo {
      padding: 30px;
    }
    &__content {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding:80px 20px;
      img {
        width: 300px;
        height: 100%;
      }
    }
  }

  .slick-slider .slick-list{
    margin: 50px 0 0 0;
  }
  
  .slick-prev{
    display: none !important;
  }

  .slick-next:before{
    content: '\1F852';
    position: absolute !important;
    bottom: -450px !important;
    right: 40px;
    color:  #FF5C64;
    opacity: 1;
    font-size: 80px;
  }

}
